@import url('./reset.css');

body {
  background-color: rgb(244, 244, 244);
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2rem;
}

.categoryContainer {
  display: flex;
  flex-direction: column; /*세로로 정렬하고 갭 주고 싶었는데 이렇게 하면 되는 군*/
  gap: 1rem;
  padding: 2rem;
  position: relative; /*.profileContainer의 부모요소로서 준 것*/
}

.categorySet {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.categoryFooter {
  position: relative;
  bottom: -21rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoryThreads {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.categoryMore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.line {
  border-left: thin solid gray;
  height: 100vh;
  left: 15rem;
  position: absolute;
  top: 0; /*이거 안하니까 선이 자꾸 밑에 있어서 짜증났음*/
}

.img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.profileBorder {
  border: 0.2rem solid rgb(232, 119, 102);
  border-radius: 50%;
  padding: 0.2rem;
}

.id {
  font-size: 0.8rem;
}

.profileSet {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.profileContainer {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 2rem;
  left: 30rem;
}

.feedContainer {
  position: absolute;
  top: 10rem;
  left: 40rem;
}

.feedHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0 0.6rem 0;
  justify-content: space-between;
}

.feedHeaderLeft {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.feedTime {
  color: gray;
}

.profileImg {
  width: 2rem;
  border-radius: 50%;
}

.feedId {
  font-weight: 600;
}

.feedMainImg {
  width: 30rem;
}

.feedIcon {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.feedFooter {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.feedFooterImg,
.feedFooterImg2 {
  width: 1.2rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(244, 244, 244);
  border-radius: 50%;
}

.feedFooterImg2 {
  margin: -0.6rem;
}

.feedFooterId {
  padding-left: 0.8em;
}

.bold {
  font-weight: 800;
}

.feedLetterSet {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.feedLetter {
  padding-left: 0.5rem;
}

.feedCommentCount {
  color: gray;
  padding-bottom: 1rem;
}

.feedCommentSet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feedComment {
  border: none;
  background-color: transparent;
  width: 28rem;
  height: 2rem;
}

.smile {
  font-size: 1rem;
  color: gray;
}

.recAll {
  width: 15rem;
  border: solid;
}

.myProfileSet {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recText {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.recMessage {
  color: gray;
}

.viewAll {
  font-weight: 800;
}

.recommendSet {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.myProfileImg,
.recommendProfileImg {
  width: 2.5rem;
  border-radius: 50%;
}

.myId,
.recId {
  font-weight: 800;
  padding: 0.3rem 0;
}

.recCount {
  color: gray;
  font-size: 0.8rem;
}

.turn,
.recFollow {
  font-size: 0.9rem;
  font-weight: 800;
  color: blue;
}
