.dropdown {
  position: absolute;
  top: 4.5rem;
  right: 0;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.dropdown li {
  padding: 1.6rem;
  width: 19.2rem;
  font-size: 1.5rem;
  border: 1px solid whitesmoke;

  &:hover {
    background-color: whitesmoke;
  }
}
.dropdown .selected {
  color: #12b886;
}
