.banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 2;
}

.banner a {
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}
