header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
}

header .logo {
  width: 7rem;
  cursor: pointer;
}

header section {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

header section button {
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: black;
    color: white;
  }
}

header section .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
}
header section .icon:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 50%;
}

header section button,
header section i {
  cursor: pointer;
}
