header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: white;
  z-index: 1;
}

header h1 {
  align-content: center;
  text-align: center;
  height: 6.3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem; 
}

header nav ul {
  display: flex;
  gap: 4.2rem;
  font-size: 1.3rem;
}
